- content_for 'page_css' do
  :sass
    p.title
      margin: 10px 0 !important

    #content .form-area div.error-with-field
      input.textbox
        font-family: Georgia,Palatino,"Times New Roman",Times,serif
        font-size: 200%
        width: 100%

    textarea.textarea
      height: 150px !important
      width: 100%
      display: block

    input.file
      margin: 50px 0

    img.asset
      margin: 5px 0
      border: 2px solid #fff

    a.asset
      display: block
      margin: 5px 0

%h1= @gallery.new_record? ? 'New Gallery' : 'Edit Gallery'

- form_for [:admin, @gallery], :html => {:multipart => true} do |f|
  .form-area
    %p.title
      %label Title
      = f.text_field :title, :class => 'textbox'
    %p.title
      %label Description
      = f.text_area :description, :class => 'textarea'
    %p.title
      %label SlideShowPro SWF File
      = link_to('Flash Gallery [preview]', admin_gallery_url(@gallery), :target => '_blank', :class => 'asset') if @gallery.swf.exists?
      %br
      = f.file_field :swf, :class => 'button'
    
  %p.buttons
    - button_text = @gallery.new_record? ? 'Create' : 'Save Changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', admin_galleries_url
